@import "theme/variables";

.course_view_praxis_content_color {
    background-color: white;
}

.course_view_praxis_content_container {
    background-color: white;
    padding-left: 16px;
}

.course_view_praxis_divider_text_color {
    color: $secondary_color;
}

.course_view_praxis_options {
    width: 32px;
    height: 32px;
    padding: 0px;
}

.course_view_praxis_submit {
}
